@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "tailwindcss";



/* Aplica Inter como fuente por defecto */
body {
  @apply font-sans
}

.font-basset {
  font-family: "basset-seven", sans-serif;
}
.sidebar-inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 25s linear infinite;
}
